@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .loader {
        margin: 0 auto;
        width: 52px;
        height: 12px;
        position: relative;
    }

    .loader .child {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
    }

    .loader .child:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: white;
        animation: loaderAnimation 1.5s infinite ease-in-out both;
    }

    .loader .child:nth-child(1) {
        left: 0;
    }

    .loader .child:nth-child(2) {
        left: calc(12px + (100% - 36px) / 2);
    }

    .loader .child:nth-child(3) {
        left: calc(24px + 100% - 36px);
    }

    .loader .child:nth-child(2):before {
        animation-delay: 0.5s;
    }

    .loader .child:nth-child(3):before {
        animation-delay: 1s;
    }

    @keyframes loaderAnimation {
        0%,
        32%,
        67%,
        100% {
            background-color: white;
        }
        33%,
        66% {
            background-color: #2d2d2d;
        }
    }
}
