@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* LOADER */
    .loader {
        margin: 0 auto;
        width: 52px;
        height: 12px;
        position: relative;
    }

    .loader .child {
        width: 12px;
        height: 12px;
        position: absolute;
        top: 0;
    }

    .loader .child:before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background-color: white;
        animation: loaderAnimation 1.5s infinite ease-in-out both;
    }

    .loader .child:nth-child(1) {
        left: 0;
    }

    .loader .child:nth-child(2) {
        left: calc(12px + (100% - 36px) / 2);
    }

    .loader .child:nth-child(3) {
        left: calc(24px + 100% - 36px);
    }

    .loader .child:nth-child(2):before {
        animation-delay: 0.5s;
    }

    .loader .child:nth-child(3):before {
        animation-delay: 1s;
    }

    @keyframes loaderAnimation {
        0%,
        32%,
        67%,
        100% {
            background-color: white;
        }
        33%,
        66% {
            background-color: #2d2d2d;
        }
    }

    /* GHOST */
    .ghost {
        animation: ghostAnimation 3s infinite ease-in-out;
    }

    @keyframes ghostAnimation {
        50% {
            transform: translate(0, 20px);
        }
    }

    /* Panda Animation */
    .animation-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .panda-container {
        position: relative;
        overflow: hidden;
    }

    .panda-text {
        position: absolute;
        top: 40%;
        left: calc(50% - 7.5rem);
        width: 15rem;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        color: white;
    }

    .cloud {
        position: absolute;
        animation: slideUp 3s ease infinite both;
    }

    .cloud.one {
        top: -1.5rem;
        left: calc(50% - 2.5rem);
        width: 5rem;
        height: 5rem;
    }

    .cloud.two {
        top: 1rem;
        left: 2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    .cloud.three {
        top: 0rem;
        right: 3rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    .panda-sleep-one {
        width: 1.5rem;
        height: 1.5rem;

        position: absolute;
        top: 65%;
        left: 54%;

        animation: slideUpSleep 4s ease infinite 1s both;
    }

    .panda-sleep-two {
        width: 2.5rem;
        height: 2.5rem;

        position: absolute;
        top: 53%;
        left: 55%;

        animation: slideUpSleep 4s ease infinite 2s both;
    }

    .panda-tumbleweed {
        width: 2rem;
        height: 2rem;

        position: absolute;
        top: 82%;
        left: 2%;

        animation: tumbleweedAnimation 6s linear infinite;
    }

    @media (min-width: 640px) {
        .panda-text {
            left: calc(50% - 12rem);
            width: 24rem;
            font-size: 16px;
        }

        .cloud.one {
            top: -3rem;
            left: calc(50% - 4.5rem);
            width: 9rem;
            height: 9rem;
        }

        .cloud.two {
            top: 2rem;
            left: 3rem;
            width: 6rem;
            height: 6rem;
        }

        .cloud.three {
            top: 0rem;
            right: 4rem;
            width: 6rem;
            height: 6rem;
        }

        .panda-sleep-one {
            width: 3rem;
            height: 3rem;

            top: 62%;
        }

        .panda-sleep-two {
            width: 5rem;
            height: 5rem;

            top: 51%;
        }

        .panda-tumbleweed {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    @media (min-width: 768px) {
        .panda-text {
            left: calc(50% - 15rem);
            width: 30rem;
            font-size: 22px;
        }

        .cloud.one {
            top: -4rem;
            left: calc(50% - 6.5rem);
            width: 13rem;
            height: 13rem;
        }

        .cloud.two {
            top: 2rem;
            left: 5rem;
            width: 9.5rem;
            height: 9.5rem;
        }

        .cloud.three {
            top: 0rem;
            right: 5rem;
            width: 9.5rem;
            height: 9.5rem;
        }

        .panda-sleep-one {
            width: 4rem;
            height: 4rem;

            top: 64%;
        }

        .panda-sleep-two {
            width: 6.6rem;
            height: 6.6rem;

            top: 52%;
        }

        .panda-tumbleweed {
            width: 6.8rem;
            height: 6.8rem;
        }
    }

    @media (min-width: 1024px) {
        .cloud.one {
            top: -6rem;
            left: calc(50% - 8.5rem);
            width: 17rem;
            height: 17rem;
        }

        .cloud.two {
            top: 0;
            left: 5rem;
            width: 13.5rem;
            height: 13.5rem;
        }

        .cloud.three {
            top: -2rem;
            right: 5rem;
            width: 13.5rem;
            height: 13.5rem;
        }
    }

    @keyframes slideUp {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(1.4rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes slideUpSleep {
        0% {
            opacity: 0;
            transform: translateY(0);
        }
        50% {
            opacity: 1;
            transform: translateY(-0.56rem);
        }
        100% {
            opacity: 0;
            transform: translateY(-0.56rem);
        }
    }

    @keyframes tumbleweedAnimation {
        0% {
            transform: translateY(-10%) rotate(0);
            left: -10%;
        }
        25% {
            transform: translateY(-60%) rotate(90deg);
            left: 17.5%;
        }
        50% {
            transform: translateY(-10%) rotate(180deg);
            left: 45%;
        }
        75% {
            transform: translateY(-60%) rotate(270deg);
            left: 72.5%;
        }
        100% {
            transform: translateY(-10%) rotate(359deg);
            left: 100%;
        }
    }
}
